<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bulbulatory_recommendations" frontName="bulbulatory_recommendations">
            <module name="Bulbulatory_Recommendations" before="Magento_Customer" />
        </route>
    </router>
</config>